{% extends 'bootstrap/base.html' %}

{% block content %}

<div class="container">

<h1>Support Group Meetings</h1>
<p>All  Cancers Support Group, Aga Khan Universtiy Hospital, 1st Thursday of the month, 2pm to 3.30pm, Cancer.care@aku.edu</p>

<p>All Cancers Support Group, Faraja Cancer Support Trust, Nairobi Place, Mokoyeti West Road (off Langata Road), starts 21st September, 10:00am-12:00pm, arwa@farajacancersupport.org.</p>

<p>All Cancers Support Group, Kenyatta National Hospital, Radiotherapy Department, 2 Fridays each month, 11:00am.</p>

<p>All Cancers Support Group, Nairobi Hospital Counseling Department, Short Stay Auditorium, 2nd Tuesday of the month, 2:15pm – 4:15pm, 0721 963 465, 0722 281 362.  Open to patients, survivors, family members, Nairobi Hospital staff.</p>

<p>Breast Cancer Support Group, Faraja Cancer Support Trust, 4th Tuesday of the month, info@farajacancersupport.org</p>

<h2>Nutrition Support</h2>

<h4> Faraja Cancer Support Trust</h4>
<p> Philip Odiyo, Patient Support Manager, Nutrition Volunteers: Asmita Shah, Smita Shah, Rachna Sikka, P.O BOX 39173, info@farajacancersupport.org, +254 (0) 721 872 909, www.farajacancersupport.org, Facebook: Faraja Cancer Support, Twitter: @FarajaTrust.  Provides consultations on nutrition and diet for cancer patients and survivors, free of charge.</p>

<h4>Radiant Lifestyle Centre</h4>
<p>Jameson Court, Flat C 2Ngong Road, Nairobi, +254 (0) 722 369 178/254, +254 (0) 734 369 178, www.radiantlifestylecentre.org.  Diet and lIfestyle consultants providing nutrition therapy, health seminars, lifestyle support programmes and counseling.</p>
</div>

{% endblock %}
